# gcc coverage testing tool files

*.gcno
*.gcda
*.gcov

*.diff
*.patch
*.orig
*.rej

*.a
*.dSYM
*.o
*.so
*~
*.exe
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.local.vimrc
.lvimrc

.clang-format

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

# ignore ./contrib/gcc_update output
LAST_UPDATED
REVISION

# ignore in-tree prerequisites
/mpfr*
/mpc*
/gmp*
/isl*
.vscode/ipch/28e79425ed4c3acd/BADTESTDRAWCARD.ipch
.vscode/ipch/15337c2373bd3fd4/PLAYDOM.ipch
.vscode/ipch/15337c2373bd3fd4/mmap_address.bin
.vscode/ipch/28e79425ed4c3acd/mmap_address.bin
.vscode/ipch/bb57303ee0eca49c/UNITTEST4.ipch
.vscode/ipch/bb57303ee0eca49c/mmap_address.bin
.vscode/ipch/c8c915d08c9af61e/RNGS.ipch
.vscode/ipch/c8c915d08c9af61e/mmap_address.bin
.vscode/ipch/d50fab3eef6ae4cf/UNITTEST1.ipch
.vscode/ipch/d50fab3eef6ae4cf/mmap_address.bin
.vscode/ipch/de2070141e55b08e/TESTINIT.ipch
.vscode/ipch/de2070141e55b08e/mmap_address.bin
.vscode/ipch/e6a69d3ef974a825/UNITTEST3.ipch
.vscode/ipch/e6a69d3ef974a825/mmap_address.bin
.vscode/ipch/ee68fe3efd984c86/UNITTEST2.ipch
.vscode/ipch/ee68fe3efd984c86/mmap_address.bin
.vscode/settings.json
